*
!*/

!/.clang-format
!/.clang-tidy
!/.gitignore
!/.gitmodules
!/LICENSE
!/README*.md

!/.github/**/*.yml
!/.gitlab-ci.yml

!/.guix-authorizations
!/.guix-channel
!/.guix/**/*.scm
!/guix.scm

!/CMakeLists.txt
!/CMakePresets.json
!/cmake/**/*.cmake
!/doc/**/CMakeLists.txt
!/etc/**/CMakeLists.txt
!/src/**/CMakeLists.txt

!/doc/**/*.[1-8]
!/doc/**/*.md
!/doc/**/*.png
!/doc/**/*.sh
!/etc/xdg/*.desktop
!/etc/xdg/*.svg
!/src/**/*.cc
!/src/**/*.hh
!/src/**/*.in
