*
!*/

# Project
!/.clang-format
!/.clang-tidy
!/.gitignore
!/.gitmodules
!/LICENSE
!/README*.md

!/doc/**/*.md
!/doc/**/*.png
!/doc/**/CMakeLists.txt
!/doc/examples/*

!/etc/xdg/*.desktop
!/etc/xdg/*.svg

!/.github/**/*.yml
!/etc/ci/*

# Guix
!/.guix-authorizations
!/.guix-channel
!/.guix/**/*.scm
!/etc/guix/**/*.scm
!/guix.scm

# Code
!/CMakeLists.txt
!/CMakePresets.json
!/cmake/**/*.cmake
!/src/**/*.cc
!/src/**/*.hh
!/src/**/CMakeLists.txt
!/test/**/*.cc
!/test/**/*.hh
!/test/**/CMakeLists.txt
